{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'hello/images/book-solid.png' %}">
    <title>Library Management System</title>

    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'hello/style.css' %}">
</head>
<body onload="addContents()">
    <div class="blurred" id="Wrapper">
        <header>
            <div class="main-bg dash-bg">
                <div class="header-sec cus-margin">
                    <img src="{% static 'hello/images/book-solid.png' %}">
                    <nav class="navbar">
                        <a href="{% url 'hello:index' %}">Home</a>
                        <a href="{% url 'hello:catalogue' %}">Catalogue</a>
                        <a>Services</a>
                        <a href="{% url 'hello:staff' %}">Library Staffs</a>
                        <a href="{% url 'hello:contact' %}">Contact</a>
                        <img class="img1" onclick="openLogin()" 
                        src="{% static 'hello/images/profile.png' %}">
                    </nav>
                </div>
                <div class="row1">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </header>
    
        <!-- Main Contents -->
        <section>
            <div class="table-con">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 5%;">No.</th>
                            <th style="width: 15%;">ID</th>
                            <th style="width: 27.5%;">Book Name</th>
                            <th style="width: 27.5%;">Student Name</th>
                            <th style="width: 15%;">DOR</th>
                            <th style="width: 10%;">Fine</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!--<tr>
                            <td>1</td>
                            <td>LIB07</td>
                            <td>GOT</td>
                            <td>Lexi</td>
                            <td>13/6/23</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>LIB08</td>
                            <td>Harry Potter</td>
                            <td>Lexi</td>
                            <td>15/8/23</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>LIB07</td>
                            <td>GOT</td>
                            <td>Lexi</td>
                            <td>13/6/23</td>
                            <td>300</td>
                        </tr> -->
                    </tbody>
                </table>
                <div class="cus-flex">
                    <button onclick="logoutUser()" class="but1">Log Out</button>
                </div>
            </div>
        </section>
    </div>

<script>
    const tableBody = document.getElementById('table-body')
    function addContents(){
        fetch("http://127.0.0.1:8000/fetch-dashboard-contents")
        .then(response => response.json())
        .then(data =>{
            let rents = data['rents']
            if(rents.length!=0)
            {
                tableBody.replaceChildren()
                let i = 0
                for (rent of rents) {
                    let row = document.createElement('tr')
                    let no = document.createElement('td')
                    no.textContent = i++
                    let id = document.createElement('td')
                    id.textContent = 'LIB' + rent.id
                    let title = document.createElement('td')
                    title.textContent = rent.title
                    let user = document.createElement('td')
                    user.textContent = rent.user
                    let dor = document.createElement('td')
                    let [x, y, z] = rent.dor.split('-')
                    let date = z + '/' + y + '/' + x.substring(2)
                    dor.textContent = date           
                    let fine = document.createElement('td')
                    fine.textContent = rent.fine                     
                    row.append(no,id, title, user, dor, fine)
                    tableBody.appendChild(row)
                }
            }
        
        })
    }

    function logoutUser() {

            location.assign('http://127.0.0.1:8000/logout')

        }

</script>

</body>

</html>