{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'hello/images/book-solid.png' %}">
    <title>Catalogue | Library Management System</title>

    <!-- Bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'hello/style.css' %}">
</head>
<body onload="makeCards()">
    <header>
        <div class="main-bg cat-bg">
            <div class="header-sec cus-margin">
                <img src="{% static 'hello/images/book-solid.png' %}">
                <nav class="navbar">
                    <a href="{% url 'hello:index' %}">Home</a>
                    <a href="{% url 'hello:catalogue' %}">Catalogue</a>
                    <a>Services</a>
                    <a>Library Staffs</a>
                    <a>Contact</a>
                    <a href="{% url 'hello:logout' %}">Logout</a>
                    <img class="img1" onclick="redirectToBoard()" src="{% static 'hello/images/profile.png' %}">
                </nav>
            </div>
            <div class="row1">
                <h1>Catalogue</h1>
            </div>
        </div>
    </header>
    
    <!-- Main Contents -->
    <div class="cat-body-con" id="Wrapper">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-1" style="order:1;margin-top:50px;" onclick="openAddBook()">
                <div class="pad1">
                    <div class="books-block add-book" style="height:250px;">
                        <div class="cus-flex">
                            <img src="{% static 'hello/images/plus-solid.png' %}" alt="" class="src">
                        </div>
                        <h4>Add a book</h4>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <!-- adding book block -->
    <div class="add-book-popup" id="addBook">
        <div class="cus-flex-btw">
            <h4>Add a book</h4>
            <img src="{% static 'hello/images/xmark.png' %}" alt="" class="src" 
            onclick="closeAddBook()">
        </div>
        <div class="cus-grid">
            <form action="{% url 'hello:librarian' %}" 
            enctype="multipart/form-data" autocomplete="off" id="addBookForm" method="post">
            {% csrf_token %}
                <input type="text" name="title" id="title" placeholder="Book Name">
                <input type="text" name="author" id="author" placeholder="Author Name">
                <input type="number" name="stock" id="stock" placeholder="Number of items">
                <label for="image">Image of the book</label>
                <input type="file" class="blockv" name="image" id="image" placeholder="Image of the book">
                <button for="addBookForm" id="addSubmit">Submit</button>
            </form>

        </div>
    </div>

    <!-- update book details block -->
    <div class="update-book-popup" id="updateBook">
        <div class="cus-flex-btw">
            <h4>Update book details</h4>
            <img src="{% static 'hello/images/xmark.png' %}" alt="" class="src" 
            onclick="closeUpdateBook()">
        </div>
        <div class="cus-grid">
            <form action="{% url 'hello:update' %}" 
            enctype="multipart/form-data" autocomplete="off" id="updateBookForm" method="post">
            {% csrf_token %}
                <label for="utitle">Book title</label>
                <input type="text" name="utitle" id="utitle" placeholder="Book Name">
                <label for="uauthor">Author</label>
                <input type="text" name="uauthor" id="uauthor" placeholder="Author Name">
                <label for="uimage" name="uimage-label" id="uimage-label">Image of the book</label>
                <input type="file" class="blockv" name="uimage" id="uimage" placeholder="Image of the book">
                <input type="hidden" name="ubid" id="ubid">
                <button for="updateBookForm" id="updateSubmit">Submit</button>
            </form>

        </div>
    </div>

    <script>
        const row = document.querySelector('.row')
        const utitle = document.getElementById('utitle')
        const uauthor = document.getElementById('uauthor')
        const updateSubmit = document.getElementById('updateSubmit')
        const addSubmit = document.getElementById('addSubmit')
        const ubid = document.getElementById('ubid')
        const uimage = document.getElementById('uimage')
        const title = document.getElementById('title')
        const author = document.getElementById('author')
        const stock = document.getElementById('stock')
        const imageLabel = document.getElementById('uimage-label')
        
        function openAddBook(){
            let bookpopup=document.getElementById("addBook");
            bookpopup.classList.add("open-visibility");
            var blur= document.getElementById('Wrapper');
            blur.classList.toggle('active');
            addSubmit.disabled = true
        }

        function closeAddBook(){
            let bookpopup=document.getElementById("addBook");
            bookpopup.classList.remove("open-visibility");
            var blur= document.getElementById('Wrapper');
            blur.classList.toggle('active');    
        }

        function openUpdateBook(){
            let bookpopup=document.getElementById("updateBook");
            bookpopup.classList.add("open-visibility");
        }

        function closeUpdateBook(){
            let bookpopup=document.getElementById("updateBook");
            bookpopup.classList.remove("open-visibility"); 
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        function redirectToBoard(){
            location.assign("http://127.0.0.1:8000/dashboard")
        }

        function makeCards(){

            fetch("http://127.0.0.1:8000/retrieve")
            .then(response => response.json())
            .then(data =>{
                let flag = 0;
                for(i in data)
                {
                    let col = document.createElement('div')
                    col.classList.add('col-md-4', 'col-sm-6','col-xs-12')
                    let pad = document.createElement('div')
                    pad.classList.add('pad1')
                    let block = document.createElement('div')
                    block.classList.add('books-block')
                    let flex = document.createElement('div')
                    flex.classList.add('cus-flex')
                    let img = document.createElement('img')
                    img.classList.add('src')
                    if(data[i].photo!=null&&data[i].photo!=undefined&&data[i].photo!="")
                        img.src = 'uploads/'+data[i].photo
                    flex.appendChild(img)
                    let h4 = document.createElement('div')      
                    h4.textContent = data[i].title
                    h4.setAttribute('id','book-title')
                    h4.setAttribute("style","display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;")
                    h4.style.marginBottom = '10px'
                    h4.style.lineHeight = '24px'
                    h4.style.fontSize = '22px'
                    let h5 = document.createElement('div')    
                    h5.setAttribute("style","display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;")  
                    h5.style.marginBottom = '10px'
                    h5.style.fontSize = '18px'   
                    h5.style.lineHeight = '20px'             
                    h5.textContent = `Author : ${data[i].author}`
                    h5.style.lineClamp = '2'
                    let flex1 = document.createElement('div')
                    flex1.classList.add('flex1')
                    flex1.style.marginTop = '5px'
                    let p = document.createElement('p')
                    p.textContent = `Stock Left : `
                    p.style.marginRight = '5px'
                    let input = document.createElement('input')
                    input.type = 'number'
                    input.value = data[i].stock
                    input.min = '0'
                    input.setAttribute('id',data[i].id)
                    input.addEventListener('input',()=>{
                        fetch("http://127.0.0.1:8000/update-stock",{
                            method:'POST',
                            headers: {
                                'Content-Type' : 'application/json',
                                'X-CSRFToken' : getCookie('csrftoken')
                            },
                            body:JSON.stringify({
                                'bid': input.getAttribute('id'),
                                'value':input.value
                            })
                        })
                    })   
                    flex1.appendChild(p)
                    flex1.appendChild(input)
                    let b1 = document.createElement('button')
                    b1.classList.add('b1')
                    b1.textContent = "Delete"
                    b1.setAttribute('id',data[i].id)
                    b1.style.marginTop = '5px'
                    b1.addEventListener('click',()=>{
                        fetch("http://127.0.0.1:8000/delete",{
                            method:'POST',
                            headers: {
                                'Content-Type' : 'application/json',
                                'X-CSRFToken' : getCookie('csrftoken')
                            },
                            body:JSON.stringify({
                                'bid': b1.getAttribute('id')
                            })
                        })
                        location.assign("http://127.0.0.1:8000/librarian")
                    })
                    let b2 = document.createElement('button')
                    b2.classList.add('b1')
                    b2.textContent = "Update"
                    b2.style.marginTop = '5px'
                    b2.style.backgroundColor = '#65a30d'
                    b2.setAttribute('id',data[i].id)
                    b2.style.marginRight = '10px'
                    b2.addEventListener('click',()=>{
                        openUpdateBook()
                        updateSubmit.disabled = true
                        fetch("http://127.0.0.1:8000/retrieve2",{
                            method:'POST',
                            headers: {
                                'Content-Type' : 'application/json',
                                'X-CSRFToken' : getCookie('csrftoken')
                            },
                            body:JSON.stringify({
                                'bid': b2.getAttribute('id')
                            })
                        })
                        .then(response => response.json())
                        .then(data =>{
                            utitle.value = data.title
                            uauthor.value = data.author
                            ubid.value = b2.getAttribute('id')
                        })
                        //location.assign("http://127.0.0.1:8000/librarian")
                    })
                    block.append(flex,h4,h5,flex1,b2,b1)
                    pad.appendChild(block)
                    col.appendChild(pad)
                    row.appendChild(col)
                }
            })
           
        }

        [utitle,uauthor].forEach((item)=>{
            item.addEventListener('input',()=>{
            if(utitle.value.trim().length!=0&&uauthor.value.trim().length!=0)
                updateSubmit.disabled = false
            else
                updateSubmit.disabled = true
            })
        })

        imageLabel.addEventListener('click',(e)=>{
            e.stopPropagation()
            if(utitle.value.trim().length!=0&&uauthor.value.trim().length!=0)
                updateSubmit.disabled = false
            else
                updateSubmit.disabled = true
        });
        
        [title,author,stock].forEach((item)=>{
            item.addEventListener('input',()=>{
            if(title.value.trim().length!=0&&author.value.trim().length!=0&&
            stock.value.trim().length!=0)
                addSubmit.disabled = false
            else
                addSubmit.disabled = true
            })
        })

    </script>
</body>
</html>