{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue | Library Management System</title>
    <link rel="icon" type="image/x-icon" href="{% static 'hello/images/book-solid.png' %}">
    <script src = "{% static 'hello/fuse.js' %}" defer></script>
    <script src="{% static 'hello/date.js' %}" defer></script>

    <!-- Bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'hello/style.css' %}">
</head>
<body onload="makeCards()">
    <header>
        <div class="main-bg bg2 cat-bg">
            <div class="header-sec cus-margin">
                <img src="{% static 'hello/images/book-solid.png' %}">
                <nav class="navbar">
                    <a href="{% url 'hello:index' %}">Home</a>
                    <a href="{% url 'hello:catalogue' %}">Catalogue</a>
                    <a>Services</a>
                    <a href="{% url 'hello:staff' %}">Library Staffs</a>
                    <a href="{% url 'hello:contact' %}">Contact</a>
                    <img class="img1" onclick="openLogin()" 
                    src="{% static 'hello/images/profile.png' %}">
                </nav>
            </div>
            <div class="row1">
                <h1>Catalogue</h1>
                <div class="searchbar">
                    <input type="text" id="search" name="search">
                    <button style = "background-color: red; border-style: none;
                    background-color: #cd0000;color: #ffffff;height: 40px;width: 80px;border-radius: 10px;"
                    id="searchButton">Search</button>
                </div>
                
            </div>
        </div>
    </header>

    <!-- Main Contents -->
    <div class="cat-body-con" id="Wrapper">
        <div class="row">
       <!-- <div class="col-md-3 col-sm-6 col-xs-1">
                <div class="pad1">
                    <div class="books-block cat" onclick="openRent()">
                        <div class="cus-flex">
                            <img src="{% static 'hello/images/basheer.jpeg' %}" alt="" class="src">
                        </div>
                        <h4>Manthrikappoocha</h4>
                        <h5>Author : Basheer</h5>
                        <p>Stock Left : 3</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <!-- Rent-popup -->
    <div class="rent-popup" id="RentBook">
        <div class="popup-content">
            <h4 id="confirm-dialog"></h4>
            <div class="align2">
                <button onclick="confirmRent()" class="yes">Yes</button>
                <button class="no" onclick="closeRent()">No</button>
            </div>
            <div class="align1">
                <img class="img3"  onclick="closeRent()" 
                src="{% static 'hello/images/xmark.png' %}">
            </div>
        </div>
    </div>

    <!-- Rent confirmation popup -->
    <div class="rent-confirm" id="RentConfirm">
        <div class="popup-content">
            <div class="cus-flex">
                <h3>Congratulation!</h3>
            </div>
            <div class="cus-flex">
                <img id="ordered-book" src="" alt="" class="src">
            </div>
            <div class="cus-flex">
                <h5 id="confirmation-text"></h5>
            </div>
            <div class="align1">
                <img class="img3"  onclick="closeRentC()" 
                src="{% static 'hello/images/xmark.png' %}">
            </div>
        </div>
    </div>

    <!-- login form-->
    <div class="chat-popup cus-len" id="loginForm">
        <div class="flex-cus flexm scroll1">
            <div class="block1 width5">
                <img class="img1" src="{% static 'hello/images/popup-library.jpg' %}">
                <div class="block1" style="margin-top: 20px;">
                    <h3>Lorem ipsum<br></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
                </div>
            </div>
            <div class="width5 form1">
                <form action="{% url 'hello:index' %}" id="loginForm" method="post" class="popup-form">
                    {% csrf_token %}
                    <div style="display: flex;justify-content:space-between">
                        <h1 class="cus-h1">Login</h1>
                        <!-- <div class="close-btn" style="cursor: pointer;" onclick="closepopup()">&times;</div> -->
                    </div>
                    <div id="login-error" style="margin-bottom:8px;color:red; 
                     visibility: hidden;">
                        Incorrect username or password</div>

                    <label style="font-style: normal;" for="username"><b>Username</b></label>
                    <input type="text" placeholder="Username" id="username" name="username" 
                    onfocus="hideLoginError()" autocomplete = "off" 
                    required><br>
        
                    <label style="font-style: normal;" for="password"><b>Password</b></label>
                    <input type="password" placeholder="Password" id="password" 
                    onfocus="hideLoginError()" name="password" required><br>
        
                    <button type="button" id="submitButton" class="button">Submit</button><br>

                    <div>
                        Don't Have a account? <a 
                        href="{% url 'hello:signup' %}" 
                        onclick="closeLogin();openSignUp()">Sign Up</a></div>
                    <!-- <div style="margin-top:6px;"><a href=""> Sign Up</a> here if you're a Librarian</div> -->

                    <div class="align1">
                        <img class="img3"  onclick="closeLogin()" 
                        src="{% static 'hello/images/xmark.png' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- stock empty message -->
    <div class="stock" id="emptyStock">
        <div class="popup-content">
            <h4 id="stock-dialog"></h4>
            <div class="align1">
                <img onclick="closeEmpty()" id="close-empty-stock" class="img3" 
                src="{% static 'hello/images/xmark.png' %}">
            </div>
        </div>
    </div>

    <!-- profile sidebar -->
    <!-- popup signup/login -->
    <div class="profile-sidebar" id="sidebar">
        <div class="popup-content" id="sidebar-content">
            <div class="cus-flex">
                <img class="img4" src="{% static 'hello/images/profile-g.png' %}" alt="">
            </div>
            <h5 id="sidebar-username"></h5>
            <p id="table-title" style="text-decoration: underline;">Book Rent Details</p>
            <section class="table-body">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 10%;">Id</th>
                            <th style="width: 65%;">Name</th>
                            <th style="width: 25%;">DOR</th>
                        </tr>
                    </thead>
                    <tbody id="table-content">
                       <!-- <tr>
                            <td>LIB49</td>
                            <td>GOT</td>
                            <td>12/7/23</td>
                        </tr>
                        <tr>
                            <td>LIB49</td>
                            <td>GOT</td>
                            <td>
                                24/6/23
                                <p>Fine: 150</p>
                            </td>
                        </tr>
                        <tr>
                            <td>LIB49</td>
                            <td>GOT</td>
                            <td>12/7/23</td>
                        </tr>
                        <tr>
                            <td>LIB49</td>
                            <td>GOT</td>
                            <td>12/7/23</td>
                        </tr> -->
                    </tbody>
                </table>
            </section>
            <p id="sidebar-notice">Fine is given by adding 150rs for each week exceeding from DOR(date of return)</p>
            <div class="align1">
                <img id="close-sidebar" class="img3" onclick="" src="{% static 'hello/images/xmark.png' %}">
            </div>
            <div class="cus-flex">
                <button onclick="logoutUser()" class="b1">Log Out</button>
            </div>
        </div>
    </div>

</body>
<script>

    //global 
     let bookSelector;
     let clicked = false;

    //login form
    
    function openLogin(e){
            let popup=document.getElementById("loginForm");
            var blur = document.getElementById('Wrapper');
            const sidebar = document.getElementById('sidebar')
            fetch("http://127.0.0.1:8000/check-login")
            .then(response => response.json())
            .then(data => {
                if (data['status'] == 'true') {
                    if (data['role'] == 'librarian')
                    {
                        location.assign("http://127.0.0.1:8000/dashboard")
                        
                    }
                    else {
                        sidebar.style.display = 'block'
                        addSidebarContent()
                    }
                }
                else{                  
                    popup.classList.add("open-login");
                    blur.classList.toggle('active');
                }
            })

            
        }

    function addSidebarContent() {
            const sidebarUsername = document.getElementById('sidebar-username')
            const table = document.querySelector('.table-body')
            const tableBody = document.getElementById('table-content')
            const tableTitle = document.getElementById('table-title')
            fetch("http://127.0.0.1:8000/fetch-rent-details")
                .then(response => response.json())
                .then(data => {
                    sidebarUsername.textContent = data['user']
                    let rents = data['rents']
                    if (rents.length == 0) {
                        table.style.display = 'none'
                        let noRentDialog = document.createElement('h4')
                        noRentDialog.textContent = 'You have no rents'
                        tableTitle.parentNode.insertBefore(noRentDialog, tableTitle.nextSibling);

                    }
                    else {
                        tableBody.replaceChildren()
                        for (rent of rents) {
                            let row = document.createElement('tr')

                            let id = document.createElement('td')
                            id.textContent = 'LIB' + rent.id
                            let title = document.createElement('td')
                            title.textContent = rent.title
                            let dor = document.createElement('td')
                            let [x, y, z] = rent.dor.split('-')
                            let date = z + '/' + y + '/' + x.substring(2)
                            dor.textContent = date
                            if (rent.fine > 0) {
                                let fine = document.createElement('p')
                                fine.textContent = `Fine :${rent.fine}`
                                dor.appendChild(fine)
                            }
                            row.append(id, title, dor)
                            tableBody.appendChild(row)
                        }
                    }

                })
        }

    function closeLogin(){
        let popup=document.getElementById("loginForm");
        popup.classList.remove("open-login");
        var blur= document.getElementById('Wrapper');
        blur.classList.toggle('active');    
    }

    const closeSidebarButton = document.getElementById('close-sidebar')
    closeSidebarButton.addEventListener('click',()=>{
        sidebar.style.display = 'none'
    })


    function logoutUser(){
        location.assign('http://127.0.0.1:8000/logout')
    }

    function hideLoginError(){
            loginError.style.visibility = 'hidden'

        }
        submitButton.addEventListener('click',()=>{

            fetch("http://127.0.0.1:8000/index",{
            method:'POST',
            headers: {
                'Content-Type' : 'application/json',
                'X-CSRFToken' : getCookie('csrftoken')
            },
            body:JSON.stringify({
                'username':username.value,
                'password':password.value,
            })
            })
            .then(response => response.json())
            .then(data =>{
                if(data['result']=='true')
                {
                    if(data['role']=='LIBRARIAN')
                        location.assign("http://127.0.0.1:8000/librarian")
                    else
                    location.assign("http://127.0.0.1:8000/student")
                }
                else{
                    loginError.style.visibility = 'visible'

                }
            
            })
            

        })

    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


    const searchBody = document.querySelector('.cat-body-con')
    const input = document.querySelector('#search')
    const searchButton = document.getElementById('searchButton')

    searchButton.addEventListener('click',(e)=>{
    e.stopPropagation()
    let search = input.value;
    searchBody.removeChild(document.querySelector('.row'))
    let row = document.createElement('div')
    row.classList.add('row')
    input.value = ""
    fetch("http://127.0.0.1:8000/retrieve")
    .then(response => response.json())
    .then(data =>{
        const options = {
            includeScore : true,
            keys : ['title']                        
        }
        const fuse = new Fuse(data,options)
        let result = fuse.search(search)

        for(i in result)
        {
            row.append(addSearchResult(result[i].item.title,result[i].item.author,result[i].item.stock,
            result[i].item.photo,result[i].item.id))
        }
        searchBody.appendChild(row)
    
    })})
         

    function addSearchResult(title,author,stock,photo,id){
       
        let col = document.createElement('div')
        col.classList.add('col-md-3', 'col-sm-6','col-xs-1')
        let pad = document.createElement('div')
        pad.classList.add('pad1')
        let block = document.createElement('div')
        block.classList.add('books-block','cat')
        let flex = document.createElement('div')
        flex.classList.add('cus-flex')
        let img = document.createElement('img')
        img.classList.add('src')
        if(photo!="")
            img.src = 'uploads/'+photo
        flex.appendChild(img)
        let h4 = document.createElement('h4')
        h4.textContent = title
        let h5 = document.createElement('h5')
        h5.textContent = `Author : ${author}`
        let flex1 = document.createElement('div')
        flex1.classList.add('flex1')
        let p = document.createElement('p')

        //handling unavailable items
        if(stock>0)
            p.textContent = `Stock Left : ${stock} `  
        else{
            p.textContent = 'unavailable'
            col.style.filter = 'contrast(0.6)'
        }
        flex1.appendChild(p)
        block.setAttribute('id',id)
        block.addEventListener('click',(e)=>{
            if (stock > 0)
                openRent(id, h4.textContent)
            else {
                clicked = true
                emptyStockPopup.style.display = 'block'
                emptyStockDialog.textContent = `${title} is currently out of stock`
                var blur = document.getElementById('Wrapper');
                blur.classList.toggle('active');

            }
        })

        block.append(flex,h4,h5,flex1)
        pad.appendChild(block)
        col.appendChild(pad)
        return col
}
       
    function openRent(id,title){
        let popup=document.getElementById("RentBook");
        var blur= document.getElementById('Wrapper');
        const dialog = document.getElementById('confirm-dialog')
        if(!clicked)
        {
            fetch("http://127.0.0.1:8000/check-login")
            .then(response => response.json())
            .then(data =>{
            if(data['status']=='true')
            {
                bookSelector = id
                clicked = true
                popup.classList.add("open-login"); 
                blur.classList.toggle('active');
                dialog.textContent = `Do you want to rent ${title}?`


            }
            else{
                    openLogin()
            }
            })
        }
    }

    function closeRent(){
        let popup=document.getElementById("RentBook");
        popup.classList.remove("open-login");
        var blur= document.getElementById('Wrapper');
        blur.classList.toggle('active');
        clicked = false
    }

    function closeRentC(){
        let popup=document.getElementById("RentConfirm");
        popup.style.display = 'none';
        var blur= document.getElementById('Wrapper');
        blur.classList.toggle('active');
        clicked = false
        location.assign("http://127.0.0.1:8000/student")
    }
    
    //rent confirmation
    const rentConfirm = document.getElementById('RentConfirm')
    const confirmationText = document.getElementById('confirmation-text')
    const orderedBook = document.getElementById('ordered-book')
    var blur= document.getElementById('Wrapper');
    function confirmRent(){
        closeRent()
        blur.classList.toggle('active');
        clicked = true
        fetch("http://127.0.0.1:8000/rent",{
        method:'POST',
        headers: {
            'Content-Type' : 'application/json',
            'X-CSRFToken' : getCookie('csrftoken')
        },
        body:JSON.stringify({
            'bid':bookSelector,
            'date':addMonths(new Date(),2).toLocaleDateString()
         })
        })
        .then(response => response.json())
        .then(data =>{ 
            confirmationText.textContent = `Your order against Rent Id: LIB${data.rentID} has been confirmed`
            rentConfirm.style.display = 'block'
            orderedBook.src = 'uploads/'+data.photo
        })
    }


    const emptyStockPopup = document.getElementById('emptyStock')
    const emptyStockDialog = document.getElementById('stock-dialog')
    const closeEmptyStock = document.getElementById('close-empty-stock')
    function makeCards(){

        fetch("http://127.0.0.1:8000/retrieve")
        .then(response => response.json())
        .then(data =>{
        let flag = 0;
        for(i in data)
        {
            let col = document.createElement('div')
            col.classList.add('col-md-3', 'col-sm-6','col-xs-1')
            let pad = document.createElement('div')
            pad.classList.add('pad1')
            let block = document.createElement('div')
            block.classList.add('books-block','cat')
            let flex = document.createElement('div')
            flex.classList.add('cus-flex')
            let img = document.createElement('img')
            img.classList.add('src')
            if(data[i].photo!=null&&data[i].photo!=undefined&&data[i].photo!="")
                img.src = 'uploads/'+data[i].photo
            flex.appendChild(img)
            let h4 = document.createElement('h4')      
            h4.textContent = data[i].title
            h4.setAttribute('id','book-title')
            let h5 = document.createElement('h5')    
            h5.textContent = `Author : ${data[i].author}`
            let flex1 = document.createElement('div')
            flex1.classList.add('flex1')
            let p = document.createElement('p')

            //handling unavailable items
            if (data[i].stock > 0)
                p.textContent = `Stock Left : ${data[i].stock} `
            else {
                p.textContent = 'unavailable'
                col.style.filter = 'contrast(0.6)'
            }
            flex1.appendChild(p) 
            let bid = data[i].id
            let stock = data[i].stock
            let title = data[i].title
            block.append(flex,h4,h5,flex1)
            block.addEventListener('click',(e)=>{
                if(stock>0)
                    openRent(bid,h4.textContent)
                else{
                    clicked = true
                    emptyStockPopup.style.display = 'block'
                    emptyStockDialog.textContent = `${title} is currently out of stock`
                    var blur = document.getElementById('Wrapper');
                    blur.classList.toggle('active');

                }
            })
            pad.appendChild(block)
            col.appendChild(pad)
            document.querySelector('.row').appendChild(col)
        }
        })

}

function closeEmpty(){
    var blur = document.getElementById('Wrapper');
    blur.classList.toggle('active');
    emptyStockPopup.style.display = 'none'
    clicked = false
}


</script>
</html>