@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

html{
    font-family: 'Montserrat' !important;
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Montserrat';
    background-color: #e6e7ee;
    color: #44476a;
    margin: 0;
}

header{
    background: transparent;
}

.flex1{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .cus-margin{
    margin: 0 2%;
    gap: 30%;
}

header img{
    height: 40px;
    width: 40px;
    z-index: 999;
}

header .img1{
    border-radius: 50%;
}

.header-sec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    height: 12%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-block: 15px;
    width: 75%;
    cursor: pointer;
}

.navbar a{
    cursor: pointer;
    display: inline-block;
}

.navbar a::after{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #ffffff;
    transition: 300ms;
}

.navbar a:hover::after{
    width: 100%;
}

.main-bg{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("images/bg-1.jpg");
    padding: 30px 100px 0px;
    height: 100vh;
    color: #ffffff;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar button{
    margin-left: 20px;
}

.searchbar input{
    border: solid white 4px;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
    color: white;
    padding: 8px;
}

.cat-bg{
    height: 50vh;
}

.main-bg .row1{
    height: 88%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-bg .row1 h1{
    font-size: 45px;
    line-height: 30px;
}

.main-bg .header-sec a{
    text-decoration: none;
    color: #ffffff;
}

.chat-popup{
    display: none;
    position: fixed;
    top: 15%;
    left: 20%;
    right: 20%;
    bottom: 15%;
    background-color: #ffffff;
    z-index: 999;
    transition: 1s;
    border-radius: 10px;
    overflow: auto;
    height: 55%;
	padding: 3%;
}

.chat-popup .flex-cus{
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-popup .flex-cus .width5{
    width: 50%;
    max-height: 100%;
}

.chat-popup .block1 img{
	height: 50%;
	width: 90%;
    padding: 10px;
}

.chat-popup .flex-cus .popup-form input{
	width: 90%;
	border-radius: 5px;
	margin-bottom: 5px;
    margin-top: 10px;
    height: 25px;
    border-color: #44476a;
    padding: 10px;
}

.chat-popup .align1{
    position: absolute;
    padding: 4px 5px 1px 4px;
    top: 5px;
    right: 10px;
    z-index: 9999;
}

.chat-popup .img3{
    height: 30px;
    width: 19px;
    cursor: pointer;
}

.chat-popup .flex-cus .popup-form button{
	width: 50%;
    height: 50px;
    margin-top: 20px;
    background-color: #44476a;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.chat-popup .cus-h1{
    margin: 0 0 8px 0;
}

.chat-popup .form1{
    display: block;
    padding: 10px;
}

.cat-body-con .row{
    margin: 10%;
    margin-top: 3%;
}

.cat-body-con .pad1{
    padding: 20px;
}

.cat-body-con .pad1 .books-block{
    border-radius: 15px;
    background-color: #e6e7ee;
    display: block;
    text-align: center;
    height: 387px;
    padding: 10%;
    box-shadow:  20px 20px 60px #b8b4b4;
    overflow-y: visible;
}

.cat-body-con .pad1 .books-block .cus-flex{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.cat-body-con .pad1 .books-block .cus-flex img{
    height: 145px;
    width: 130px;
}

#searchButton{
    border-radius: 10px;
    border-style: none;
    background-color: #cd0000;
    color: #ffffff;
    height: 40px;
    width: 80px;
}

.cat-body-con .pad1 .books-block .b1{
    border-radius: 10px;
    border-style: none;
    background-color: #cd0000;
    color: #ffffff;
    height: 40px;
    width: 80px;
    
}

.cat-body-con .pad1 .add-book{
    transform: scale(0.8);
    transition: transform 500ms ease-in-out;
    cursor: pointer;
}

.cat-body-con .pad1 .add-book:hover{
    transform: scale(1);
}

.cat-body-con .pad1 .add-book:active{
    box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}

.cat-body-con .books-block .flex1{
    margin-bottom: 10px;
}

.cat-body-con .books-block .flex1 p{
    margin: 0;
}

.cat-body-con .books-block .flex1 input{
    width: 25%;
    background-color: #e6e7ee;
    border-radius: 10px;
    text-align: center;
} 

.add-book-popup{
    display: block;
    gap: 10px;
    position: fixed;
    top: 15%;
    left: 20%;
    right: 20%;
    bottom: 15%;
    background-color: #ffffff;
    z-index: 999;
    transition: 1s;
    border-radius: 10px;
    overflow: auto;
    height: 75%;
	padding: 3%;
    transform: translate(0%,-50%) scale(0.2);
    visibility: hidden;
    transition: transform 500ms ease-in-out;
}

/* .add-book-popup h4{
    margin-bottom: 25px;
} */

#addbBook{
    display: grid;
    gap: 20px;
}

.add-book-popup input{
    height: 50px;
    border-radius: 10px;
    border-width: 0;
    background-color: #e6e7ee;
    padding: 8px;
}

.add-book-popup .blockv{
    display: none;
}

.add-book-popup label{
    border-style: dashed;
    border-color: #e6e7ee;
    height: 50px;
    border-radius: 10px;
    padding: 8px;
}

.add-book-popup button{
    height: 50px;
    border-radius: 10px;
    width: 50%;
}

.add-book-popup .cus-flex-btw{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.add-book-popup .cus-flex-btw h4{
    margin: 0;
}

.add-book-popup .cus-flex-btw img{
    height: 35px;
    width: 22px;
    cursor: pointer;
}

.open-login{
	display: block;
}

.open-visibility{
    visibility: visible;
    transform: scale(1);
}

.cat-body-con#Wrapper.active{
    filter: blur(20px);
}



@media(max-width:900px){
    .chat-popup .flex-cus .width5{
        width: 90%;
        max-height: 100%;
    }

    .chat-popup .flex-cus{
        display: block;
    }
}


#user-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-signup select{
    width:150px;
    height:30px;
    margin-bottom: 20px;

}
#user-signup input{ 

    border: solid white 4px;
    width: 300px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
    color: white;
    padding: 8px;
    margin-bottom:20px;
}

#user-signup input[type="submit"]{
    border-radius: 10px;
    border-style: none;
    background-color: #cd0000;
    color: #ffffff;
    height: 40px;
    width: 200px;
}

.f-container,.f2-container{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}

